.ErrorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 50vh;
  width: 35vw;
  background-color: rgba(230, 172, 172, 0.719);
  border-radius: 20px;
}

.ErrorPage h1 {
  font-size: 5em;
  color: purple;
}

.ErrorPage p {
  font-size: 2em;
  font-weight: bold;
}

.ErrorPage i {
  font-size: 1.5em;
}
